<app-navbar></app-navbar>

    <div class="empresa-image"></div>

    <div class="container mt-5 text-center">
        <a href="#" class="btn btn-custom">Gestionar preguntas y respuestas</a>
        <a href="#" class="btn btn-custom">Ver estadísticas de los usuarios</a>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Número de usuarios registrados</h5>
                        <p class="card-text">Actualmente, tenemos *Numero de usuario* usuarios registrados en nuestra plataforma.</p>
                        <img src="assets/imagenmundo.jpg" alt="Imagen 1" class="card-img-top">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Porcentaje de usuarios que completaron una simulación</h5>
                        <p class="card-text">El *Porcentaje* de nuestros usuarios ha completado al menos una simulación de entrevista.</p>
                        <img src="assets/entre.jpg" alt="Imagen 2" class="card-img-top">
                    </div>
                </div>
            </div>
        </div>
    </div>