.quiz-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 15%;
  padding-bottom: 20%;
  padding-left: 37%;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.options-container {
  margin-bottom: 15px;
}

.option {
  margin-bottom: 10px;
}

.option-text {
  margin-left: 10px;
  user-select: text;
}

.btn-answer {
  font-size: 18px;
  padding: 10px 20px;
}

.btn-answer:disabled {
  opacity: 0.7;
}
