.quiz-container {
  background-color: #f9f9f9;
  padding-top: 20vh;
  padding-left: 20vw;
  padding-right: 10vw;
  min-height: 90vh;
  position: relative;
}

.question {
  font-size: 24px;
  color: rgb(44, 43, 43);
  margin-bottom: 15px;
}

.opciones{
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden; 
}

.option {
  cursor: pointer;
  margin-bottom: 1em;
  background-color: #f9f9f9;
  border: 1px solid rgb(97, 97, 97);
  padding: 1em;
  text-align: justify;
  width: 60vw;
  border-radius: 1em;
}

.option.selected {
  box-shadow: 1px 1px 3px gray;
  background-color: rgb(226, 235, 227);
}

.next{
  position: absolute;
  bottom: 10em;
}