.quiz-container {
  background-color: #f9f9f9;
  padding-top: 20vh;
  padding-left: 20vw;
  padding-right: 10vw;
}

.question {
  font-size: 24px;
  color: rgb(44, 43, 43);
  margin-bottom: 15px;
}


.option {
  margin-bottom: 1em;
}

