/* Los estilos aquí son idénticos a los de login.component.css, 
   esto asegura consistencia visual entre ambas páginas. */

   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('src/assets/fondo-registro.jpg'); /* Cambiar 'assets/background.jpg' con la ruta de tu imagen de fondo */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #D9D9D9; 
    color: #fff;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.contenido-de-pagina {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.registro-box {
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Alinea los hijos verticalmente */
    align-items: center; /* Centra los hijos horizontalmente */
    justify-content: center; /* Opcional: ajusta para centrar verticalmente si es necesario */
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro-box h2 {
    margin: 0 0 20px 0;
}

.registro-box input[type="text"],
.registro-box input[type="email"],
.registro-box input[type="tel"],
.registro-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Asegura un espaciado uniforme arriba y abajo */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-register {
    background-color: #ffffff; /* Color de fondo actualizado */
    color: black; /* Color de texto actualizado */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición agregada */
}

.btn-register:hover {
    background-color: #6bb2fd; 
}

footer {
    background-color: #000000; 
    color: #D9D9D9; 
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
