<nav class="navbar">
    <div class="logo">
        <img src="assets/logo.png" routerLink="/" alt="TalenTry">
    </div>
</nav>
<div class="cuerpo">
    <section class="contenido-de-pagina">
        <div class="container">
            <form class="registro-box" (ngSubmit)="registrarUsuario()">
                <h2>Formulario de registro</h2>
                <div>
                    <input type="text" id="DNI" name="DNI" [(ngModel)]="usuario.DNI" placeholder="DNI" required>
                </div>
                <div>
                    <input type="text" id="name" name="name" [(ngModel)]="usuario.name" placeholder="Nombre" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" [(ngModel)]="usuario.email" placeholder="Email" required>
                </div>
                <div>
                    <input type="tel" id="phone" name="phone" [(ngModel)]="usuario.phone" placeholder="Teléfono" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" [(ngModel)]="usuario.password" placeholder="Contraseña" required>
                </div>
                <div>
                    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="repeatedPassword" placeholder="Repetir Contraseña" required>
                </div>
                <button type="submit" class="btn-register">Registrarse</button>
                <div class="login-link">
                    <p>¿Ya tienes cuenta? <a routerLink="/login" class="btn-login">Iniciar sesión</a></p>
                    <p>¿Eres una empresa? <a routerLink="/registro-empresa" class="btn-login">Crear cuenta de empresa</a></p>
                </div>
            </form>
        </div>
    </section>
</div>
