<nav class="navbar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
</nav>
<div class="cuerpo">
    <section class="contenido-de-pagina">
        <div class="container">
            <form class="registro-box">
                <h2>Formulario de registro</h2>
                <input type="text" placeholder="DNI">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="Teléfono">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Repetir Contraseña">
                <button type="button" class="btn-register" (click)="register()">Registrarse</button>
                <div class="login-link">
                    <p>¿Ya tienes cuenta? <a routerLink="/login" class="btn-login">Iniciar sesión</a></p>
                </div>
            </form>
        </div>
    </section>
</div>