<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Info del quizz</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Información</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ver mi perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Longitud de la entrevista</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="5" value="5">
                            <label class="form-check-label" for="5">
                                5 preguntas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="10" value="10">
                            <label class="form-check-label" for="10">
                                10 preguntas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="15" value="15">
                            <label class="form-check-label" for="15">
                                15 preguntas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="20" value="20">
                            <label class="form-check-label" for="20">
                                20 preguntas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="25" value="25">
                            <label class="form-check-label" for="25">
                                25 preguntas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="30" value="30">
                            <label class="form-check-label" for="30">
                                30 preguntas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="longitudEntrevista" id="35" value="35">
                            <label class="form-check-label" for="35">
                                35 preguntas
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-start">Empezar</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-panel">
                    <h5>Categoría Seleccionada</h5>
                    <p><strong>Nombre de la Categoría:</strong> {{ categoriaSeleccionada }}</p>
                    <p><strong>Descripción:</strong> [Breve Descripción Dinámica]</p>
                </div>
            </div>
        </div>
    </div>




</body>
</html>
