<nav class="navbar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
</nav>
<div class="cuerpo">
    <section class="contenido-de-pagina">
        <div class="container">
            <form class="registro-box" (ngSubmit)="registrarUsuarioEmpresa()">
                <h2>Registro de empresa</h2>
                <div>
                    <input type="text" id="DNI" name="DNI" [(ngModel)]="usuario.DNI" placeholder="DNI" required>
                </div>
                <div>
                    <input type="text" id="name" name="name" [(ngModel)]="usuario.name" placeholder="Nombre" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" [(ngModel)]="usuario.email" placeholder="Email" required>
                </div>
                <div>
                    <input type="tel" id="phone" name="phone" [(ngModel)]="usuario.phone" placeholder="Teléfono" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" [(ngModel)]="usuario.password" placeholder="Contraseña" required>
                </div>
                <div>
                    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="repeatedPassword" placeholder="Repetir Contraseña" required>
                </div>
                <div class="separador"></div>
                <div>
                    <input type="text" id="name2" name="name" [(ngModel)]="usuario.name2" placeholder="Nombre de la empresa" required>
                </div>
                <div>
                    <input type="text" id="NIF" name="NIF" [(ngModel)]="usuario.NIF" placeholder="NIF" required>
                </div>
                <div>
                    <input type="text" id="address" name="address" [(ngModel)]="usuario.address" placeholder="Dirección" required>
                </div>
                <button type="submit" class="btn-register">Registrar empresa</button>
                <div class="login-link">
                    <p>¿Ya tienes cuenta? <a routerLink="/login" class="btn-login">Iniciar sesión</a></p>
                </div>
            </form>
        </div>
    </section>
</div>
