<div class="body">
  <app-navbar></app-navbar>
  <div class="vovler">
    <a href="/perfil">Volver</a>
  </div>
  <h2>Empresas:</h2>
  <div class="historial-container">
    <div class="entrevistas-lista" *ngIf="empresas.length > 0">
      <div class="entrevista-item" *ngFor="let empresa of empresas" (click)="seleccionarEmpresa(empresa)"
        [class.activada]="empresa.activa">
        <div class="entrevista-detalle">
          <p>{{ empresa.name }}</p>
          <strong> Ubicación: </strong>{{ empresa.address }}
        </div>
      </div>
    </div>

    <div class="detalles-container" *ngIf="empresaSeleccionada">
      <div class="pregunta-respuesta">
        <div class="pregunta">
          <p>¿Deseas que {{ empresaSeleccionada.name }} vea tu historial de entrevistas?</p>
        </div>
        <div class="respuesta" *ngIf="!empresaSeleccionada.activa && !empresaSeleccionada.share">
          <input type="checkbox" id="acepto" [(ngModel)]="aceptoPermiso">
          <label for="acepto">Sí, acepto que esta empresa vea mis entrevistas realizadas</label>
          <br>
          <button (click)="confirmarPermiso()" [disabled]="!aceptoPermiso">Confirmar</button>
        </div>
        <div class="respuesta" *ngIf="!empresaSeleccionada.activa && empresaSeleccionada.share">
          <input type="checkbox" id="acepto" [(ngModel)]="aceptoPermiso">
          <label for="acepto">Sí, acepto que esta empresa vea mis entrevistas realizadas</label>
          <br>
          <button (click)="actualizarPermiso()" [disabled]="!aceptoPermiso">Confirmar</button>
        </div>
        <div class="respuesta" *ngIf="empresaSeleccionada.activa && !empresaSeleccionada.share || empresaSeleccionada.activa && empresaSeleccionada.share">
          <input type="checkbox" id="acepto" [(ngModel)]="aceptoPermiso">
          <label for="acepto">Sí, quiero dejar de compartir mis datos con esta empresa</label>
          <br>
          <button (click)="cancelarPermiso()" [disabled]="!aceptoPermiso">Confirmar</button>
        </div>
        
      </div>

    </div>
  </div>
</div>