<app-navbar></app-navbar>
<div class="container">
    <h1 class="title">Términos y Condiciones de Uso</h1>
    <div class="content">
        <p>Bienvenido a TalenTry. Estos términos y condiciones de uso rigen su uso del sitio web y los servicios ofrecidos por TalenTry.</p>

        <p>Al acceder o utilizar el sitio web de TalenTry, usted acepta cumplir y estar sujeto a estos términos y condiciones. Si no está de acuerdo con alguno de estos términos, no está autorizado para utilizar el sitio web y debe dejar de hacerlo de inmediato.</p>

        <h2>1. Uso del Sitio Web</h2>
        <p>1.1 Usted acepta utilizar el sitio web solo con fines legales y de acuerdo con estos términos y condiciones.</p>
        <p>1.2 Usted es responsable de mantener la confidencialidad de su cuenta y contraseña y de restringir el acceso a su computadora para evitar el acceso no autorizado a su cuenta.</p>

        <h2>2. Contenido del Usuario</h2>
        <p>2.1 Usted es el único responsable del contenido que publique en el sitio web, incluidos comentarios, publicaciones y cualquier otro tipo de material.</p>
        <p>2.2 Usted garantiza que posee todos los derechos necesarios sobre el contenido que publique y que dicho contenido no infringe los derechos de terceros.</p>

        <h2>3. Modificaciones</h2>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso. Es su responsabilidad revisar periódicamente estos términos y condiciones para ver las actualizaciones.</p>

        <h2>4. Limitación de Responsabilidad</h2>
        <p>4.1 En la medida máxima permitida por la ley, en ningún caso TalenTry será responsable de daños directos, indirectos, incidentales, especiales, consecuentes o punitivos que surjan de su uso del sitio web o cualquier información, productos o servicios obtenidos a través del sitio web.</p>
        <p>4.2 TalenTry no será responsable de ningún daño o pérdida resultante de la interrupción del sitio web, la suspensión de servicios, la terminación de cuentas de usuarios o cualquier otra acción tomada por TalenTry en relación con el sitio web.</p>

        <p>Para cualquier pregunta o aclaración sobre estos términos y condiciones, por favor contáctenos.</p>
    </div>
</div>