.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
    animation: slideIn 0.5s ease;
    margin-top: 30px; /* Margen superior */
    margin-bottom: 30px; /* Margen inferior */
}
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  footer {
    background-color: #333333; /* Color de fondo */
    color: #ffffff;            /* Color del texto */
    text-align: center;        /* Alineación del texto */
    padding: 10px 0;           /* Padding para dar espacio arriba y abajo */
    width: 100%;               /* El footer ocupa el ancho completo */
}

.container {
    min-height: calc(94.15vh - 60px); /* Altura mínima ajustada para compensar la altura del navbar y footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

body, html {
    height: 100%; /* Asegura que el body y html ocupen el alto total de la ventana */
    margin: 0; /* Elimina el margen predeterminado */
    display: flex;
    flex-direction: column;
}

.app-navbar, .footer {
    flex-shrink: 0; /* Evita que el navbar y el footer se encojan */
}

  