.body {
  margin: 0; /* Elimina el margen predeterminado */
  min-height: calc(100vh - 50px); /* Asegura que el cuerpo de la página tenga una altura del 100% del viewport */
  display: flex;
  flex-direction: column;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
    animation: slideIn 0.5s ease;
    margin-top: 30px; /* Margen superior */
    margin-bottom: 30px; /* Margen inferior */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.153);
}
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.container {
    min-height: calc(80vh - 50px); /* Altura mínima ajustada para compensar la altura del navbar y footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.app-navbar, .footer {
    flex-shrink: 0; /* Evita que el navbar y el footer se encojan */
}

  