footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 75px;
    position: relative;
}

footer p {
    margin: 0; /* Elimina el margen del párrafo */
    margin-bottom: 10px; /* Añade separación entre el párrafo y los enlaces */
}

footer a {
    color: #ffffff; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    margin-left: 10px; /* Espacio entre cada enlace */
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh; /* Altura mínima de 100% del viewport */
}

body {
    margin: 0; /* Elimina el margen predeterminado */
    min-height: calc(100vh - 50px); /* Asegura que el cuerpo de la página tenga una altura del 100% del viewport */
    display: flex;
    flex-direction: column;
}
