<div class="historial-container">
    <div class="entrevistas-lista" *ngIf="entrevistas.length>0">
        <div class="entrevista-item" *ngFor="let entrevista of entrevistas">
            <div class="entrevista-detalle" (click)="CargarRespuestas(entrevista.RecordID)">
                <p>{{ entrevista.CategoryName }}</p>
                <p>{{ entrevista.FinishDate }}</p>
                <p>Puntos: {{entrevista.score}}</p>
            </div>
        </div>
    </div>

    <div class="detalles-container" *ngIf="entrevistas.length>0">
        <div class="pregunta-respuesta" *ngIf="respuestas[0]?.QuestionPoints">
            <div class="pregunta">
                Total
            </div>
            <div class="respuesta">
                <p>Tiempo: {{getTimeDifference(respuestas[0].StartDate, respuestas[respuestas.length-1].FinishDate)}}
                </p>
                <p>Puntuacíon: {{PuntosTotales}}</p>
            </div>
        </div>
        <div class="pregunta-respuesta" *ngFor="let respuesta of respuestas">
            <div class="pregunta">
                <p> {{respuesta.question}} </p>
            </div>
            <div class="respuesta">
                <p> {{respuesta.answer}} </p>
                <p> Puntos: {{respuesta.QuestionPoints}} </p>
                <p> Tiempo: {{getTimeDifference(respuesta.StartDate, respuesta.FinishDate)}} </p>
            </div>
        </div>
    </div>
</div>