<app-navbar></app-navbar>
<div class="profile-container">
  <aside class="profile-sidebar">
    <div class="profile-picture">
      <img src="assets//perfil.png" alt="Imagen de perfil" class="img-fluid rounded-circle">
      <button class="btn btn-primary mt-2">Cambiar Imagen</button>
    </div>
    <div class="profile-history">
      <button class="btn btn-link" (click)="navegarAlHistorial()">Historial</button>
    </div>

    <div class="profile-permissions">
      <h5>Permisos para empresas</h5>
      <div class="form-group">
        <input type="checkbox" id="permisosEmpresas" [(ngModel)]="permisosEmpresas">
        <label for="permisosEmpresas">{{ permisosEmpresas ? 'Activado' : 'Desactivado' }}</label>
        <button type="button" class="btn btn-secondary mt-1" (click)="togglePermisosEmpresasEditable()">Guardar
          cambios</button>
      </div>
    </div>
  </aside>

  <section class="profile-details">
    <div class="profile-card card">
      <div class="card-body">
        <form [formGroup]="perfilForm" (ngSubmit)="EditarUsuario()">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
          </div>
          <div class="form-group">
            <label>DNI</label>
            <input type="text" formControlName="dni" class="form-control">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control">
            <button type="button" class="btn btn-secondary mt-1" (click)="habilitarEdicion('email')">{{
              perfilForm.get('email')?.enabled ? 'Cancelar' : 'Editar' }}</button>
          </div>
          <div class="form-group">
            <label>Teléfono</label>
            <input type="tel" formControlName="telefono" class="form-control">
            <button type="button" class="btn btn-secondary mt-1" (click)="habilitarEdicion('telefono')">{{
              perfilForm.get('telefono')?.enabled ? 'Cancelar' : 'Editar' }}</button>
          </div>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </section>
</div>