/* Estilo base y normalización */
body, html {
  height: 100%;
  background-color: #f4f4f4;
}

/* Contenedor principal de perfil */
.profile-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px; /* Agregado para centrar en el espacio disponible */
}

/* Barra lateral para la imagen y el historial */
.profile-sidebar {
  flex: 1;
  max-width: 200px;
  text-align: center;
  margin-right: 20px;
}

.profile-picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: inline-block;
  margin-bottom: 10px;
}

.profile-permissions {
  margin-top: 20px;
  text-align: center;
}

.profile-permissions h5 {
  margin-bottom: 10px;
}

.profile-permissions .form-group {
  display: inline-block;
  text-align: left;
}

/* Botón para cambiar imagen */
.profile-sidebar button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #007bff; /* Cambiado para coincidir con el botón "primary" */
  color: white;
  border: none;
  border-radius: 4px;
}

/* Sección de detalles de perfil */
.profile-details {
  flex: 3;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.form-group{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.form-control{
  width: 90%;
}

.form-perfil{
 display: flex;
 flex-direction: column;
 gap: 2em; 
}

/* Estilos para ajustar la distribución en móviles */
@media (max-width: 768px) {
  .profile-card .form-group {
    flex-direction: column;
    align-items: stretch;
  }

  .profile-card .form-group label {
    width: 100%;
    text-align: left;
    padding: 0;
    margin-bottom: 5px;
  }

  .profile-card .form-control, .profile-card .btn-secondary {
    width: 100%;
  }

  .profile-card .btn-secondary {
    margin-left: 0;
    margin-top: 5px;
  }
}

app-navbar{
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
}

.fondo-cambiar-contrasena{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.4);
}

.panel-cambiar-contrasena{
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 32vw;
  height: 32vh;
  background-color: white;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 1em; 
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-contrasena{
  display: flex;
  flex-direction: column;
  gap:1em;
  
}


.toggle {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.toggle.active .ball {
  left: 30px;
}

.toggle.active{
  background-color: #007bff;
}

.info-icon {  
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  font-weight: 900;
  border-radius: 100%;
  font-size: 8px;
  padding-right: 4px;
  padding-left: 4px;
  cursor: pointer;
}

.info-icon:hover .info-content {
  display: block;
}
.info-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 20em;
  font-size: 12px;
  font-weight: 400;
}

.marignGeneral{
  padding-top: 5em;
  margin-bottom: 10em;
}