<app-navbar></app-navbar>
<div class="text-center">
  <button class="btn btn-primary mt-2" (click)="navegarAPermisoEmpresa()">Ver mis permisos con empresas</button>
</div>
<div class="profile-container">
  <aside class="profile-sidebar">
    <div class="profile-picture">
      <img src="assets//perfil.png" alt="Imagen de perfil" class="img-fluid rounded-circle">
      <button class="btn btn-primary mt-2" (click)="toggleImagen()">Cambiar Imagen</button>
    </div>
    <div class="mt-2">
      <button class="btn btn-link" (click)="navegarAlHistorial()">Historial</button>
    </div>

    <div class="profile-permissions">
      <h5>Permisos para empresas</h5>
      <div class="form-group">
        <label>Estadisticas anonimas&nbsp;&nbsp;</label><span class="info-icon">?
          <div class="info-content">
            <p>Las empresas podran ver tus resultados como parte de las estadisticas de forma anonima, no sabran que has respuesto tu pero si que ha sido la media.</p>
          </div>
        </span>
        <div class="toggle" [class.active]="permisosEmpresas" (click)="togglePermisosEmpresasEditable()">
          <div class="ball"></div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary mt-1" (click)="toggleContrasena()">Cambiar
      contraseña</button>
  </aside>

  <section class="profile-details">
    <div class="profile-card card">
      <div class="card-body">
        <form [formGroup]="perfilForm" (ngSubmit)="EditarUsuario()" class="form-perfil">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
          </div>
          <div class="form-group">
            <label>DNI</label>
            <input [type]="inputType" formControlName="dni" class="form-control">
            <button type="button" class="btn btn-secondary mt-1" (click)="mostrarOculto('dni')">{{
              inputType=="text" ? 'Ocultar' : 'Mostrar' }}</button>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control">
            <button type="button" class="btn btn-secondary mt-1" (click)="habilitarEdicion('email')">{{
              perfilForm.get('email')?.enabled ? 'Cancelar' : 'Editar' }}</button>
          </div>
          <div class="form-group">
            <label>Teléfono</label>
            <input type="tel" formControlName="telefono" class="form-control">
            <button type="button" class="btn btn-secondary mt-1" (click)="habilitarEdicion('telefono')">{{
              perfilForm.get('telefono')?.enabled ? 'Cancelar' : 'Editar' }}</button>
          </div>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </section>
  <section class="fondo-cambiar-contrasena" *ngIf="ToggleContrasena">
    <div class="panel-cambiar-contrasena">
      <form [formGroup]="passwordForm" class="form-contrasena" (ngSubmit)="cambiarContrasena()">
        <input type="password" formControlName="password" placeholder="Introduzca la nueva contraseña">
        <input type="password" formControlName="passwordRepeat" placeholder="Repita la contraseña">
        <button>Cambiar contraseña</button>
      </form>
      <button (click)="toggleContrasena()">Cancelar</button>
    </div>
  </section>
  <section class="fondo-cambiar-contrasena" *ngIf="ToggleURLImagen">
    <div class="panel-cambiar-contrasena">
      <form class="form-contrasena" (ngSubmit)="cambiarImagenPerfil()">
        <input type="url" [(ngModel)]="URLImagen">
        <button>Cambiar imagen de perfil</button>
      </form>
      <button (click)="toggleImagen()">Cancelar</button>
    </div>
  </section>
</div>