<app-navbar></app-navbar>

<div class="empresa-image"></div>


<div class="container-flex">
  <div class="container mt-3">
    <!-- Cambio de mt-5 a mt-3 para menos margen superior -->
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 mb-2">
        <a routerLink="/zona-admin/gestion-usuarios" class="btn btn-custom btn-fixed-size">GESTIÓN USUARIOS</a>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <a routerLink="/zona-admin/gestion-categorias" class="btn btn-custom btn-fixed-size">GESTIÓN CATEGORÍAS</a>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <a routerLink="/zona-admin/gestion-qa" class="btn btn-custom btn-fixed-size">GESTIÓN PREGUNTAS Y
          RESPUESTAS</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<!-- Sección de tarjetas actualizada para reflejar el diseño y contenido del código 2 -->
<div class="container mt-5">
  <div class="row">
    <!-- Tarjetas de ejemplo; reemplazar según sea necesario -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Texto descriptivo para la tarjeta.</p>
          <img src="assets/imagenmundo.jpg" alt="Imagen 1" class="card-img-top">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Título de otra tarjeta</h5>
          <p class="card-text">Otro texto descriptivo para esta tarjeta.</p>
          <img src="assets/entre.jpg" alt="Imagen 2" class="card-img-top">
        </div>
      </div>
    </div>
  </div>
</div>