<nav class="navbar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo de TalenTry">
    </div>
</nav>


<div class="container">
    <div class="header">
      <h1>Panel de Administración</h1>
    </div>
    <div class="dashboard">
      <div class="box">
        <div class="text-overlay">Texto explicativo GESTIÓN USUARIOS</div>
        <button>GESTIÓN USUARIOS</button>
      </div>
      <div class="box">
        <div class="text-overlay">Texto explicativo GESTIÓN CATEGORÍAS</div>
        <button>GESTIÓN CATEGORÍAS</button>
      </div>
      <div class="box large-box">
        <div class="text-overlay">Texto explicativo GESTIÓN PREGUNTAS Y RESPUESTAS</div>
        <button>GESTIÓN PREGUNTAS Y RESPUESTAS</button>
      </div>
      <div class="box large-box">
        <div class="text-overlay">Texto explicativo ESTADÍSTICAS</div>
        <button>ESTADÍSTICAS</button>
      </div>
    </div>
  </div>
  