body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 80%;
  height: auto;
}

.box {
  position: relative; /* Mantiene el contexto para elementos posicionados absolutamente dentro */
  background: #eeeeee;
  border: 1px solid #cccccc;
  padding: 20px;
  text-align: center;
  margin-top: 30px; /* Espacio adicional en la parte superior para el texto explicativo, si se agrega */
}

.navbar {
  background-color: #777474;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 120px;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: -25px; /* Ajuste para colocarlo adecuadamente sobre el elemento .box */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  text-align: center;
}

.large-box {
  grid-column: span 2;
}

@media (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  .large-box {
    grid-column: span 1;
  }
}
