<div class="body">

<app-navbar></app-navbar>
<div class="vovler">
  <a href="/perfil">Volver</a>
</div>
<div class="historial-container">
  <div class="entrevistas-lista" *ngIf="entrevistas.length>1">
    <div class="entrevista-item" *ngFor="let entrevista of entrevistas">
      <div class="entrevista-detalle" (click)="CargarRespuestas(entrevista.RecordID)">
        <p>{{ entrevista.CategoryName }}</p>
        <p>{{ entrevista.FinishDate }}</p>
        <p>Puntos: {{entrevista.score}}</p>
      </div>
    </div>
  </div>

  <div class="detalles-container" *ngIf="entrevistas.length>1">
    <div class="pregunta-respuesta" *ngFor="let respuesta of respuestas">
      <div class="pregunta">
        <p> {{respuesta.question}} </p>
        <p> {{respuesta.answer}} </p>
        <p> Puntos: {{respuesta.QuestionPoints}} </p>
        <p> Tiempo: {{getTimeDifference(respuesta.StartDate, respuesta.FinishDate)}} </p>
      </div>
      <div class="respuesta">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="1>entrevistas.length">
    <div class="entrevista-vacia">
      <p>Aun no has hecho ninguna entrevita! <a href="/entrevista/categorias">Empezar ahora</a> </p>
    </div>
  </div>
</div>
</div>