h1 {
  text-align: center;
}

.historial-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.5%;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  background: #fff;
  min-height: 50vh;
}

.entrevistas-lista,
.detalles-container {
  flex: 1; /* Make them grow to fill the available space */
  padding: 20px;
  height: 80vh;
  overflow-y: scroll;
}

.entrevista-item {
  border: 1px solid #ccc;
  border-radius: 10px; /* Agregar bordes redondeados */
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.entrevista-item:last-child {
  margin-bottom: 0;
}

p {
  margin: 10px;
}

.entrevista-vacia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.entrevista-vacia>p {
  position: relative;
  left: 50vw;
  transform: translate(-50%);
}

button {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #d0d0d0;
}

.preguntas-respuestas {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}

.entrevista-item.expanded+.preguntas-respuestas {
  display: flex;
}

.pregunta-respuesta {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.pregunta-respuesta:last-child {
  border-bottom: none;
}

.pregunta {
  font-weight: bold;
}

.respuesta {
  color: #555;
}

/* Estilos para cuando una entrevista está expandida */
.entrevista-info {
  display: flex;
  flex-direction: column;
}



.vovler {
  position: relative;
  top: 2em; /* Mover hacia abajo */
  left: 2em; /* Mover hacia la derecha */
  margin-bottom: 2em;
}

/* Estilos del botón */
.vovler a {
  display: inline-block;
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  background-color: #007bff; /* Cambia el color de fondo según tus preferencias */
  color: #fff; /* Cambia el color del texto según sea necesario */
  text-decoration: none;
  border-radius: 5px; /* Agrega bordes redondeados */
  transition: background-color 0.3s ease; /* Agrega transición al cambiar el color de fondo */
}

.vovler a:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}


.body {
  margin: 0; /* Elimina el margen predeterminado */
  min-height: calc(100vh - 50px); /* Asegura que el cuerpo de la página tenga una altura del 100% del viewport */
  display: flex;
  flex-direction: column;
}