<app-navbar></app-navbar>


<div class="hero-image">

    <h1>INTERVIEWS TALENTRY</h1>

</div>


<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Prepare for success</h2>
            <p>Master your interview skills and land the job of your dreams. With our platform
                interview simulation, you can practice and improve your answers, receive valuable feedback
                and feel confident in each interview.</p>
            <p>Don't let nerves stop you. Become the outstanding candidate that companies are looking for.</p>
            <a class="btn btn-outline-info" routerLink="/entrevista/categorias" *ngIf="sesion">Begin now</a>
            <a class="btn btn-outline-info" *ngIf="!sesion" (click)="ToggleAvisoSesion()">Begin now</a>
        </div>
        <div class="col-md-6">
            <img src="assets/imagenrandom.jpg" alt="Simulación de Entrevistas" class="img-fluid">
        </div>
    </div>
</section>


<section class="container-fluid mt-5 custom-center">
    <div class="row">
        <div class="col-12">
            <div class="advertisement">
                <img src="\assets\anuncio.png" alt="ANUNCIO 1" class="img-anuncio">
            </div>
        </div>
    </div>
</section>




<section class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Who are we?</h2>
            <div class="row" style="justify-content: center;">
                <div class="col-md-3">
                    <div class="imagenPersona">
                    <img src="assets/1.jpg" alt="Albert" class="img-fluid mb-3">
                    </div>
                    <h4>Albert</h4>
                    <p>Backend developer, coordinates development and ensures the quality of the final product.</p>
                </div>
                <div class="col-md-3">
                    <div class="imagenPersona">
                    <img src="assets/2.jpg" alt="Alex" class="img-fluid mb-3">
                    </div>
                    <h4>Alex</h4>
                    <p>Fullstack developer for various parts of the website.</p>
                </div>
                <div class="col-md-3">
                    <div class="imagenPersona">
                    <img src="assets/isaac.png" alt="Isaac" class="img-fluid mb-3">
                    </div>
                    <h4>Isaac</h4>
                    <p>Backend developer, makes sure everything works as intended.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid mt-5 custom-center">
    <div class="row">
        <div class="col-12">
            <div class="advertisement">
                <img src="\assets\anuncio-1.png" alt="ANUNCIO 2" class="img-anuncio">
            </div>
        </div>
    </div>
</section>


<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 text-center margin-bottom-extra">
            <h2>About us</h2>
            <p style="text-align: justify;">
                At <strong>TalenTry</strong>, we perceive the interview process not only as a crucial step in the
                job search or talent recruitment strategy, but as a window to opportunities
                unlimited personal and professional growth. We believe that each interview is a platform where
                <strong>aspirations and opportunities</strong> meet, where skills can align
                perfectly with the needs. With this vision, our mission is to revolutionize the process of
                interview, transforming it into a<strong>deeply enriching and exceptionally
                    effective</strong>for both candidates and recruiters. In doing so, we aim to catalyze
                meaningful connections that not only fill vacant positions, but also<strong>foster
                    career and organizational development</strong>.
            </p>
            <p style="text-align: justify;">The idea of ​​<strong>TalenTry</strong> was born from the collaboration of a team
                diverse group of four passionate professionals, who, from different angles of the professional spectrum
                (human resources, organizational psychology, software development, and experience design
                user), they saw the need for a <strong>transformation</strong> in the recruitment process.
                TalenTry is the fruit of years of experience, research and development dedicated to
                deeply understand the dynamics of job interviews. Our unique approach combines
                <strong>artificial intelligence</strong> with psychological insights to create a
                advanced interview simulator. This simulator not only prepares candidates to face
                real interviews with a
                renewed confidence, but also provides companies with<strong>tools
                    innovative</strong>to evaluate and discover your next great talent in a more human way,
                efficient and accurate. By integrating <strong>cutting-edge technology</strong> with a deep understanding
                of human psychology, TalenTry is <strong>redefining the future of recruiting</strong>,
                making every interaction count toward building stronger teams and stronger companies.
                successful.</p>

        </div>
        <div class="col-md-6 text-center margin-bottom-extra">
            <img src="/assets/SOBRE-NOSOTROS.png" alt="Descripción de la imagen" class="img-fit-cover img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/assets/TALENTRY.png" alt="Descripción de la imagen" class="img-fit-cover img-fluid">
        </div>
        <div class="col-md-6 text-center">
            <h2>Why Choose <strong>TalenTry</strong>?</h2>
            <p style="text-align: justify;">Choosing <strong>TalenTry</strong> means opting for a platform that is
                beyond the traditional interview process. Our unique approach is based on the fusion of
                <strong>advanced artificial intelligence</strong> and deep knowledge of <strong>psychology
                    organizational</strong>, allowing us to offer an unprecedented interview experience
                for both candidates and companies. Unlike other platforms, TalenTry
                Not only does it facilitate the hiring process, but it transforms it into an opportunity to
                <strong>growth and learning</strong>.</p>

            <p style="text-align: justify;">Our dedication to creating <strong>meaningful connections</strong> between
                candidates and companies distinguish us. We understand that every interview is a two-sided story: one
                opportunity for candidates to show their <strong>true potential</strong> and for
                Companies discover talent that can take their vision to the next level. For this,
                TalenTry is not just a tool, but a <strong>strategic partner</strong>
                committed to the long-term success of all participants in the recruiting process.</p>

            <p style="text-align: justify;">Furthermore, innovation is at the heart of
                TalentTry. Our interview simulator, developed from years of
                <strong>research and development</strong> prepares candidates in a way that no other
                platform can match. We provide <strong>personalized feedback</strong> and strategies
                improvement based on data analysis and psychology, ensuring that each candidate can face
                real interviews with the greatest confidence and preparation possible. For
                companies, we offer deep insights into the skills and potentials of
                candidates, beyond what a CV can reveal, allowing them to make more informed hiring decisions.
                informed and effective.</p>

            <p style="text-align: justify;">In conclusion, choosing <strong>TalenTry</strong> means choosing a path
                towards success in recruiting, which values ​​<strong>human depth</strong> and
                <strong>technological precision</strong>. We pride ourselves on pioneering an approach that not only
                fills positions, but also builds <strong>successful teams</strong> and promotes
                professional development. At TalenTry, we believe in a future where every
                interview opens doors to <strong>unlimited opportunities</strong>. Join us and experience the
                difference of turning the hiring process into a <strong>transformative day</strong>.</p>
        </div>

    </div>
</section>




<section class="login-popup" *ngIf="AvisoSesion">
    <div class="login-panel">
        <div class="div-close">
           <button class="close" (click)="ToggleAvisoSesion()">&times;</button> 
        </div>
        <div>
            <p>¡Inicia sesión para continuar!</p>
            <button routerLink="/login">Iniciar sesión</button>
        </div>
        <p>¿No tienes una cuenta? <a routerLink="/registro">Regístrate gratis</a>.</p>
    </div>
</section>

