.container-mt-5 {
    padding-top: 10%;
    padding-left: 7%;
    padding-bottom: 10%;
}

.container-full-height {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    margin-top: 9%;
    padding: 2%;
    padding-right: 2%;
}


.hero-image {
    background-image: url('src/assets/portatil.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px;
}

h2{
    margin-bottom: 5%;
    margin-top: 2%;
}

.mt-5 {
    margin-bottom: 10%;
}

.fondo-iniciar-sesion{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.4);
}

.panel-iniciar-sesion{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 22vw;
    height: 22vh;
    background-color: white;
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 1em; 
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cerrar{
    position: absolute;
    top: 1em;
    left:1em;
    z-index: 500;
    font-size: 15px;
    height: 1em;
    width: 1em;
    margin-bottom:-1em;
}

.raton-select{
    cursor: pointer;
}