<app-navbar></app-navbar>


<div class="hero-image">

    <h1>ENTREVISTAS TALENTRY</h1>

</div>


<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Prepárate para el éxito</h2>
            <p>Domina tus habilidades de entrevista y consigue el trabajo de tus sueños. Con nuestra plataforma de
                simulación de entrevistas, puedes practicar y mejorar tus respuestas, recibir retroalimentación valiosa
                y sentirte seguro en cada entrevista.</p>
            <p>No dejes que los nervios te detengan. Conviértete en el candidato destacado que las empresas buscan.</p>
            <a class="btn btn-outline-info" routerLink="/entrevista/categorias" *ngIf="sesion">Comenzar ahora</a>
            <a class="btn btn-outline-info" *ngIf="!sesion" (click)="ToggleAvisoSesion()">Comenzar ahora</a>
        </div>
        <div class="col-md-6">
            <img src="assets/imagenrandom.jpg" alt="Simulación de Entrevistas" class="img-fluid">
        </div>
    </div>
</section>


<section class="container-fluid mt-5 custom-center">
    <div class="row">
        <div class="col-12">
            <div class="advertisement">
                <img src="\assets\anuncio.png" alt="ANUNCIO 1" class="img-anuncio">
            </div>
        </div>
    </div>
</section>




<section class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>¿Quiénes somos?</h2>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/1.jpg" alt="Albert" class="img-fluid rounded-circle mb-3">
                    <h4>Albert</h4>
                    <p>Experto en UX/UI, se encarga de diseñar una experiencia de usuario intuitiva y atractiva.</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/piero.jpg" alt="Piero" class="img-fluid rounded-circle mb-3">
                    <h4>Piero</h4>
                    <p>Desarrollador frontend, crea interfaces web eficientes y modernas para nuestra plataforma.</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/2.jpg" alt="Alex" class="img-fluid rounded-circle mb-3">
                    <h4>Alex</h4>
                    <p>Experto en bases de datos, garantiza que nuestra plataforma sea segura y escalable.</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/isaac.jpg" alt="Isaac" class="img-fluid rounded-circle mb-3">
                    <h4>Isaac</h4>
                    <p>Líder del equipo, coordina el desarrollo y asegura la calidad del producto final.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid mt-5 custom-center">
    <div class="row">
        <div class="col-12">
            <div class="advertisement">
                <img src="\assets\anuncio.png" alt="ANUNCIO 2" class="img-anuncio">
            </div>
        </div>
    </div>
</section>


<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 text-center margin-bottom-extra">
            <h2>Sobre Nosotros</h2>
            <p style="text-align: justify;">
                En <strong>TalenTry</strong>, percibimos el proceso de entrevista no solo como un paso crucial en la
                búsqueda de empleo o en la estrategia de contratación de talentos, sino como una ventana a oportunidades
                ilimitadas de crecimiento personal y profesional. Creemos que cada entrevista es una plataforma donde
                <strong>aspiraciones y oportunidades</strong> se encuentran, donde las habilidades pueden alinearse
                perfectamente con las necesidades. Con esta visión, nuestra misión es revolucionar el proceso de
                entrevista, transformándolo en una <strong>experiencia profundamente enriquecedora y excepcionalmente
                    efectiva</strong> para ambos, candidatos y reclutadores. Al hacerlo, aspiramos a catalizar
                conexiones significativas que no solo llenen posiciones vacantes, sino que también <strong>fomenten el
                    desarrollo de carreras y organizaciones</strong>.
            </p>
            <p style="text-align: justify;">La idea de <strong>TalenTry</strong> nació de la colaboración de un equipo
                diverso de cuatro profesionales apasionados, quienes, desde distintos ángulos del espectro profesional
                (recursos humanos, psicología organizacional, desarrollo de software, y diseño de experiencia de
                usuario), vieron la necesidad de una <strong>transformación</strong> en el proceso de reclutamiento.
                TalenTry es el fruto de años de <strong>experiencia, investigación y desarrollo</strong> dedicados a
                comprender profundamente las dinámicas de las entrevistas de trabajo. Nuestro enfoque único combina la
                <strong>inteligencia artificial</strong> con insights psicológicos para crear un
                simulador de entrevistas avanzado. Este simulador no solo prepara a los candidatos para enfrentar
                entrevistas reales con una
                confianza renovada, sino que también proporciona a las empresas <strong>herramientas
                    innovadoras</strong> para evaluar y descubrir a su próximo gran talento de una manera más humana,
                eficiente y precisa. Al integrar <strong>tecnología de vanguardia</strong> con una comprensión profunda
                de la psicología humana, TalenTry está <strong>redefiniendo el futuro del reclutamiento</strong>,
                haciendo que cada interacción cuente hacia la construcción de equipos más fuertes y empresas más
                exitosas.</p>

        </div>
        <div class="col-md-6 text-center margin-bottom-extra">
            <img src="/assets/SOBRE-NOSOTROS.png" alt="Descripción de la imagen" class="img-fit-cover img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/assets/TALENTRY.png" alt="Descripción de la imagen" class="img-fit-cover img-fluid">
        </div>
        <div class="col-md-6 text-center">
            <h2>¿Por Qué Elegir <strong>TalenTry</strong>?</h2>
            <p style="text-align: justify;">Elegir <strong>TalenTry</strong> significa optar por una plataforma que va
                más allá del proceso tradicional de entrevistas. Nuestro enfoque único se basa en la fusión de
                <strong>inteligencia artificial avanzada</strong> y profundos conocimientos de <strong>psicología
                    organizacional</strong>, lo que nos permite ofrecer una experiencia de entrevista sin precedentes
                tanto para candidatos como para empresas. A diferencia de otras plataformas, TalenTry
                no solo facilita el proceso de contratación, sino que lo transforma en una oportunidad de
                <strong>crecimiento y aprendizaje</strong>.</p>

            <p style="text-align: justify;">Nuestra dedicación a crear <strong>conexiones significativas</strong> entre
                candidatos y empresas nos distingue. Entendemos que cada entrevista es una historia de dos lados: una
                oportunidad para que los candidatos muestren su <strong>verdadero potencial</strong> y para que las
                empresas descubran talentos que pueden llevar su visión al próximo nivel. Por esto,
                TalenTry no es solo una herramienta, sino un <strong>socio estratégico</strong>
                comprometido con el éxito a largo plazo de todos los participantes del proceso de reclutamiento.</p>

            <p style="text-align: justify;">Además, la innovación está en el corazón de
                TalenTry. Nuestro simulador de entrevistas, desarrollado a partir de años de
                <strong>investigación y desarrollo</strong>, prepara a los candidatos de manera que ninguna otra
                plataforma puede igualar. Proporcionamos <strong>retroalimentación personalizada</strong> y estrategias
                de mejora basadas en análisis de datos y psicología, asegurando que cada candidato pueda enfrentar
                entrevistas reales con la <strong>mayor confianza</strong> y <strong>preparación</strong> posible. Para
                las empresas, ofrecemos insights profundos sobre las habilidades y potenciales de los
                candidatos, más allá de lo que un CV puede revelar, permitiéndoles tomar decisiones de contratación más
                informadas y efectivas.</p>

            <p style="text-align: justify;">En conclusión, elegir <strong>TalenTry</strong> significa escoger una vía
                hacia el éxito en el reclutamiento, que valora la <strong>profundidad humana</strong> y la
                <strong>precisión tecnológica</strong>. Nos enorgullecemos de ser pioneros en un enfoque que no solo
                llena posiciones, sino que también construye <strong>equipos exitosos</strong> y promueve el
                desarrollo profesional. En TalenTry, creemos en un futuro donde cada
                entrevista abre puertas a <strong>oportunidades ilimitadas</strong>. Únete a nosotros y experimenta la
                diferencia de convertir el proceso de contratación en una <strong>jornada transformadora</strong>.</p>
        </div>

    </div>
</section>




<section class="login-popup" *ngIf="AvisoSesion">
    <div class="login-panel">
        <div class="div-close">
           <button class="close" (click)="ToggleAvisoSesion()">&times;</button> 
        </div>
        <div>
            <p>¡Inicia sesión para continuar!</p>
            <button routerLink="/login">Iniciar sesión</button>
        </div>
        <p>¿No tienes una cuenta? <a routerLink="/registro">Regístrate gratis</a>.</p>
    </div>
</section>

