.container-mt-5 {
    padding-top: 10%;
    padding-left: 7%;
    padding-bottom: 10%;
}

.container-full-height {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    margin-top: 9%;
    padding: 2%;
    padding-right: 2%;
}


.hero-image {
    background-image: url('src/assets/portatil.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px;
}

h2{
    margin-bottom: 5%;
    margin-top: 2%;
}

.mt-5 {
    margin-bottom: 10%;
}